* {
  box-sizing: border-box;
  outline: none;
}

:root {
  --bg-color: #f5f8ff;
  --main-color: #353536;
  --secondary-color: #adb1cc;
  --main-text-color: #5d606b;
  --secondary-dark-color: #9496a5;
  --tag-color-one: #e0fbf6;
  --tag-color-text-one: #58c2a9;
  --tag-color-two: #ece7fe;
  --tag-color-text-two: #8972f3;
  --tag-color-three: #fde7ea;
  --tag-color-text-three: #e77f89;
  --tag-color-four: #f7f8fc;
  --tag-color-text-four: #a0a6b5;
  --checkbox-color: #a2acff;
  --button-color: #49beb7;
  --box-color: #fff1d6;
  --box-color-2: #d3e6ff;
  --box-color-3: #ffd9d9;
  --box-color-4: #daffe5;
  --task-color: #777982;
}

.top-part,
.item,
body {
  display: flex;
  align-items: center;
}

body {
  user-select: none;
  margin: 0;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #333866;
  background: rgb(9, 56, 121);
  background: linear-gradient(133deg, rgba(9, 56, 121, 1) 27%, rgba(0, 212, 255, 1) 100%);
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.welcome {
  position: absolute;
  color: #adb1cc;
  font-size: 1rem;
}
.message-modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 3rem;
  border-radius: 5px;
  /* box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3); */
  z-index: 10;
}

.loading {
  z-index: 6;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
}

.loading .loader-message {
  color: #ffffff;
}
.spinner {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: solid 0.5rem;
  border-color: #ffffff #ffffff16;
  animation: spin 1.2s infinite ease-in-out;
  margin-bottom: 20px;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.weather {
  display: flex;
  justify-content: space-between;
  width: 70%;
  max-width: 1200px;
  height: 90vh;
  max-height: 900px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0.3px 2.2px rgba(0, 0, 0, 0.011), 0 0.7px 5.3px rgba(0, 0, 0, 0.016), 0 1.3px 10px rgba(0, 0, 0, 0.02),
    0 2.2px 17.9px rgba(0, 0, 0, 0.024), 0 4.2px 33.4px rgba(0, 0, 0, 0.029), 0 10px 80px rgba(0, 0, 0, 0.04);
}

.left-bar {
  display: none;
  background-color: var(--bg-color);
  width: 180px;
  border-right: 1px solid #e3e7f7;
  position: relative;
}

.left-content {
  padding: 40px;
}

.item {
  color: var(--main-color);
  margin-bottom: 14px;
  font-weight: 500;
  cursor: pointer;
}
.item i {
  width: 14px;
  height: 14px;
  color: currentcolor;
  margin-right: 10px;
}

.category-list {
  margin-top: 50px;
}
.category-list .item {
  color: var(--secondary-color);
}

.logo {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.today {
  width: 380px;
  border-left: 1px solid #e3e7f7;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.today .header {
  font-size: 20px;
  color: var(--main-text-color);
  margin-left: 30px;
}

.top-part {
  padding: 30px;
  align-self: flex-end;
}

.left-content {
  padding: 10px 40px;
  overflow: hidden;
  flex: 1;
}

.task-box {
  position: relative;
  border-radius: 12px;
  width: 100%;
  margin: 20px 0;
  padding: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 4px 0px #ebebeb;
}
.task-box:hover {
  transform: scale(1.02);
}

.time {
  margin-bottom: 6px;
  opacity: 0.4;
  font-size: 10px;
}

.task-name {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.6;
}

.yellow {
  background-color: var(--box-color);
}

.blue {
  background-color: var(--box-color-2);
}

.red {
  background-color: var(--box-color-3);
}

.green {
  background-color: var(--box-color-4);
}

.more-button {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #8e92a4;
  box-shadow: 0 -4px 0 0 #8e92a4, 0 4px 0 0 #8e92a4;
  opacity: 0.4;
  right: 20px;
  top: 30px;
  cursor: pointer;
}

.highlights {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px 20px 0 20px;
  background-color: #f1f3ff;
}
.highlights .header {
  font-size: 26px;
  color: var(--main-color);
  margin-top: 30px;
}

.content-categories {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 0;
}

.nav-item {
  display: none;
}

.category,
.label-wrapper {
  font-weight: 500;
  color: var(--secondary-color);
  border-bottom: 1px solid #ddd;
  transition: 0.2s ease-in;
  padding: 20px 30px;
  cursor: pointer;
}

#opt-1:checked + label,
#opt-2:checked + label,
#opt-3:checked + label,
#opt-4:checked + label,
.active {
  color: var(--checkbox-color);
  border-bottom: 2px solid var(--checkbox-color);
}

.task-item {
  display: none;
}

.inner {
  padding: 30px 0;
  flex: 1;
  overflow-y: auto;
  height: 100%;
  padding-right: 8px;
}

.task {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 16px;
  padding-left: 30px;
  color: var(--task-color);
  font-size: 13px;
  font-weight: 500;
}
.task:hover {
  transform: translatex(2px);
}
.task label {
  cursor: pointer;
}

label .label-text {
  position: relative;
}

label .label-text:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  border: 1px solid #ddd;
  border-radius: 2px;
  left: -24px;
  transition: 0.2s ease;
}

.task-item:checked + label .label-text:before {
  background-color: var(--checkbox-color);
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3E%3Cpolyline points='20 6 9 17 4 12'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  border: 1px solid var(--checkbox-color);
}

.tag {
  font-size: 10px;
  padding: 4px 8px;
  border-radius: 20px;
}
.tag.approved {
  background-color: var(--tag-color-one);
  color: var(--tag-color-text-one);
}
.tag.progress {
  background-color: var(--tag-color-two);
  color: var(--tag-color-text-two);
}
.tag.review {
  background-color: var(--tag-color-three);
  color: var(--tag-color-text-three);
}
.tag.waiting {
  background-color: var(--tag-color-four);
  color: var(--tag-color-text-four);
}

.upcoming {
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 900px) {
  .left-bar {
    display: none;
  }
  .highlight-card {
    width: 0px;
  }
  body {
    padding: 0;
  }
  .weather {
    width: 100%;
    height: 100%;
  }
  .today,
  .highlights {
    padding: 20px;
  }
}
.highlight-card {
  width: 150px;
}
@media screen and (max-width: 700px) {
  .weather {
    flex-direction: column;
  }
  .progressbar-text {
    font-size: 2rem !important;
  }

  .today,
  .highlights {
    width: 100%;
    display: block;
  }
  .search_group {
    width: 200px;
  }

  .inner {
    height: auto;
  }
}
@media screen and (max-width: 520px) {
  .highlights {
    padding: 40px 10px 0 10px;
  }
  .highlight-card {
    width: 150px !important;
  }
  .left-content {
    padding: 10px 16px;
  }

  .category {
    padding: 20px;
  }

  .information-modal {
    width: 300px;
  }
  .search-modal,
  .favorite-modal {
    width: 300px;
    padding: 1rem !important;
  }
  .welcome {
    padding: 0 15px;
  }
  .location i {
    margin-left: 10px;
    float: none !important;
  }
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease-out;
  background: rgba(15, 23, 42, 0.8);
  /* background-color: rgba(0, 0, 0, 0.8); */
  backdrop-filter: blur(3px);
  z-index: 5;
}
.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 4rem;
  border-radius: 5px;
  /* box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3); */
  z-index: 10;
}

.information-modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 0;
  z-index: 10;
}
.information-modal-title {
  background: #ffbd50;
  color: #ffffff;
  padding: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
}
.information-modal-content {
  padding: 0.5rem;
  background-color: #ffffff;
}

.information-modal-content .event {
  font-weight: 600;
  font-size: 0.8rem;
}
.information-modal-content .sender {
  color: #aeaeae;
  font-size: 0.6rem;
}

.close_modal,
.close_information_modal {
  position: absolute;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index: 99;
}

.close_modal .far,
.close_information_modal .far {
  font-size: 40px;
}

.search-modal,
.favorite-modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 4rem;
  border-radius: 5px;
  /* box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3); */
  z-index: 10;
}

.search_group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.search {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #000000;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.search::placeholder {
  color: transparent;
}
.search:placeholder-shown ~ .search_label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.search_label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.search:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(90deg, rgba(44, 44, 217, 1) 0%, rgba(0, 212, 255, 1) 100%);
  border-image-slice: 1;
}
.search:focus ~ .search_label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #00d4ff;
  font-weight: 700;
}

/* reset input */
.search:required,
.search:invalid {
  box-shadow: none;
}

.favorite_cities,
.search_group {
  display: none;
}

.favorite-city {
  cursor: pointer;
}
.favorite-city p,
.city-search-result p {
  display: inline-block;
}

.city-search-result {
  /* margin-top: 20px; */
  /* line-height: 1.4em; */
  cursor: pointer;
}
.city-search-result:hover {
  background-color: lightgray;
}

.city-search-result img {
  vertical-align: middle;
}

/* -------------------------------------------------------------weather images */

.sunny,
.moony {
  position: relative;
  width: 6rem;
  height: 6rem;
}

.moony:before {
  content: '';
  position: absolute;
  height: 80%;
  width: 80%;
  top: 10%;
  right: 10%;
  border-radius: 50%;
  z-index: 2;
  background-color: #eee;
  background-image: radial-gradient(#eee, #eee);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2) inset, 0 0 10px white;
}

.sunny:before,
.partly_cloudy__sun:before {
  content: '';
  position: absolute;
  height: 80%;
  width: 80%;
  top: 10%;
  right: 10%;
  border-radius: 50%;
  z-index: 2;
  background-color: #f1c40f;
  background-image: radial-gradient(#f1c40f, #f39c12);
  box-shadow: 0 0 25px #917508;
}

.partly_cloudy__moon:before {
  content: '';
  position: absolute;
  height: 80%;
  width: 80%;
  top: 10%;
  right: 10%;
  border-radius: 50%;
  z-index: 2;
  background-color: #eee;
  background-image: radial-gradient(#eee, #eee);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2) inset, 0 0 10px white;
}
.sunny:after,
.partly_cloudy__sun:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: 1;
  background-color: #f39c12;
  will-change: opacity, transform;
  animation: fadeIn 2s linear infinite reverse, scaleDown 2s linear infinite reverse;
}

.smaller__sun {
  position: absolute;
  width: 1rem;
  height: 1rem;
  left: 18%;
}

.smaller__sun:before {
  content: '';
  position: absolute;
  height: 80%;
  width: 80%;
  top: 10%;
  left: 60%;
  border-radius: 50%;
  z-index: 0;
  background-color: #f1c40f;
  background-image: radial-gradient(#f1c40f, #f39c12);
  box-shadow: 0 0 25px #917508;
}
.smaller__sun:after {
  content: '';
  position: absolute;
  left: 50%;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: 1;
  background-color: #f39c12;
  will-change: opacity, transform;
  animation: fadeIn 2s linear infinite reverse, scaleDown 2s linear infinite reverse;
}

.cloudy {
  position: relative;
  width: 6rem;
  height: 6rem;
}

.cloudy:before,
.partly_cloudy__cloud:before,
.rainy__cloud:before,
.thundery__cloud:before {
  content: '';
  position: absolute;
  height: 40%;
  width: 40%;
  top: 30%;
  right: 0%;
  border-radius: 50%;
  border-bottom-left-radius: 0;
  z-index: 2;
  background-color: #ecf0f1;
  background-image: radial-gradient(#ecf0f1, #bdc3c7);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}
.cloudy:after,
.partly_cloudy__cloud:after,
.rainy__cloud:after,
.thundery__cloud:after {
  content: '';
  position: absolute;
  height: 60%;
  width: 70%;
  top: 10%;
  right: 30%;
  border-radius: 50%;
  border-bottom-right-radius: 0;
  z-index: 1;
  background-color: #ecf0f1;
  background-image: radial-gradient(#ecf0f1, #bdc3c7);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.more__cloudy {
  position: relative;
  width: 6rem;
  height: 6rem;
}

.more__cloudy:before {
  content: '';
  position: absolute;
  height: 40%;
  width: 40%;
  top: 30%;
  right: 0%;
  border-radius: 50%;
  border-bottom-left-radius: 0;
  z-index: 2;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  background-color: #ecf0f1;
  background-image: radial-gradient(#ecf0f1, #bdc3c7);
}
.more__cloudy:after {
  content: '';
  position: absolute;
  height: 60%;
  width: 70%;
  top: 10%;
  right: 30%;
  border-radius: 50%;
  border-bottom-right-radius: 0;
  z-index: 1;
  background-color: #95a5a6;
  background-image: radial-gradient(#95a5a6, #7f8c8d);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.partly_cloudy {
  position: relative;
  width: 6rem;
  height: 6rem;
}
.partly_cloudy__sun {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.partly_cloudy__cloud {
  position: absolute;
  width: 60%;
  height: 60%;
  top: 40%;
  z-index: 2;
  will-change: transform;
  -webkit-animation: translateUp 2s linear infinite alternate;
  animation: translateUp 2s linear infinite alternate;
}

.rainy,
.thundery,
.shower__rain,
.snowy {
  position: relative;
  width: 6rem;
  height: 6rem;
}
.rainy__cloud,
.thundery__cloud {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.rainy__cloud:before,
.thundery__cloud:before {
  background-color: #95a5a6;
  background-image: radial-gradient(#95a5a6, #7f8c8d);
}
.rainy__cloud:after,
.thundery__cloud:after {
  background-color: #95a5a6;
  background-image: radial-gradient(#95a5a6, #7f8c8d);
}
.rainy__rain,
.thundery__rain,
.snow {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}
.rainy__rain:before,
.thundery__rain:before {
  content: '';
  position: absolute;
  height: 80%;
  width: 20%;
  top: 20%;
  right: 50%;
  z-index: 1;
  background-image: linear-gradient(transparent, #94cdd1);
  will-change: opacity, transform;
  -webkit-animation: fadeIn 1s ease-out infinite reverse, scaleUp 1s ease-out infinite;
  animation: fadeIn 1s ease-out infinite reverse, scaleUp 1s ease-out infinite;
}
.rainy__rain:after,
.thundery__rain:after {
  content: '';
  position: absolute;
  height: 60%;
  width: 20%;
  top: 40%;
  right: 20%;
  z-index: 1;
  opacity: 0;
  background-image: linear-gradient(transparent, #94cdd1);
  will-change: opacity, transform;
  -webkit-animation: fadeIn 2s ease-out 0.4s infinite reverse, scaleUp 2s ease-out 0.4s infinite;
  animation: fadeIn 2s ease-out 0.4s infinite reverse, scaleUp 2s ease-out 0.4s infinite;
}
.thundery__cloud:before {
  background-color: #4d5656;
  background-image: radial-gradient(#4d5656, #393c3c);
  -webkit-animation: thunder 4s linear 0.02s infinite alternate;
  animation: thunder 4s linear 0.02s infinite alternate;
}
.thundery__cloud:after {
  background-color: #4d5656;
  background-image: radial-gradient(#4d5656, #393c3c);
  -webkit-animation: thunder 4s linear infinite alternate;
  animation: thunder 4s linear infinite alternate;
}
.thundery__rain:before {
  -webkit-animation: fadeIn 2s ease-out infinite reverse, scaleUp 2s ease-out infinite;
  animation: fadeIn 2s ease-out infinite reverse, scaleUp 2s ease-out infinite;
}
.thundery__rain:after {
  -webkit-animation: fadeIn 3s ease-out 0.2s infinite reverse, scaleUp 3s ease-out 0.2s infinite;
  animation: fadeIn 3s ease-out 0.2s infinite reverse, scaleUp 3s ease-out 0.2s infinite;
}

.snow:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  height: 20%;
  width: 20%;
  top: 60%;
  right: 50%;
  z-index: 1;
  background-image: linear-gradient(white, white);
  will-change: opacity, transform;
  -webkit-animation: fadeIn 3s ease-out infinite, fallDown 3s ease-out infinite;
  animation: fadeIn 3s ease-out infinite, fallDown 3s ease-out infinite;
}
.snow:after {
  content: '';
  position: absolute;
  border-radius: 50%;

  height: 20%;
  width: 20%;
  top: 50%;
  right: 20%;
  z-index: 1;
  opacity: 0;
  background-image: linear-gradient(transparent, white);
  will-change: opacity, transform;
  -webkit-animation: fadeIn 3s ease-out infinite, fallDown 3s ease-out infinite;
  animation: fadeIn 3s ease-out infinite, fallDown 3s ease-out infinite;
}
@-webkit-keyframes fallDown {
  0% {
    transform: translatey(0);
  }
  100% {
    transform: translatey(100%);
  }
}
@keyframes fallDown {
  0% {
    transform: translatey(0);
  }
  100% {
    transform: translatey(100%);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes scaleDown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@-webkit-keyframes translateUp {
  0% {
    transform: translatey(15%);
  }
  100% {
    transform: translatey(0);
  }
}
@keyframes translateUp {
  0% {
    transform: translatey(15%);
  }
  100% {
    transform: translatey(0);
  }
}
@-webkit-keyframes scaleUp {
  0% {
    transform: scaley(0);
  }
  100% {
    transform: scaley(1);
  }
}
@keyframes scaleUp {
  0% {
    transform: scaley(0);
  }
  100% {
    transform: scaley(1);
  }
}
@-webkit-keyframes thunder {
  0% {
    box-shadow: 0 0 25px #fff;
  }
  2% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  49% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  50% {
    box-shadow: 0 0 25px #fff;
  }
  52% {
    box-shadow: 0 0 25px #f7db6e;
  }
  53% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  69% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  70% {
    box-shadow: 0 0 25px #fff;
  }
  71% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  75% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  76% {
    box-shadow: 0 0 25px #fff;
  }
  77% {
    box-shadow: 0 0 25px #a8d3f0;
  }
  78% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  100% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
}
@keyframes thunder {
  0% {
    box-shadow: 0 0 25px #fff;
  }
  2% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  49% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  50% {
    box-shadow: 0 0 25px #fff;
  }
  52% {
    box-shadow: 0 0 25px #f7db6e;
  }
  53% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  69% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  70% {
    box-shadow: 0 0 25px #fff;
  }
  71% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  75% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  76% {
    box-shadow: 0 0 25px #fff;
  }
  77% {
    box-shadow: 0 0 25px #a8d3f0;
  }
  78% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  100% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
}

.mist {
  -webkit-clip-path: inset(0 15px 0 10px);
  clip-path: inset(0 15px 0 10px);
}
.mist .mist-line {
  position: relative;
}
.mist .mist-line:after {
  content: '';
  display: table;
  clear: both;
}
.mist .mist-line:nth-child(1) {
  top: 0px;
}
.mist .mist-line:nth-child(2) {
  top: -6px;
}
.mist .mist-line:nth-child(3) {
  top: -12px;
}
.mist .mist-line:nth-child(4) {
  top: -18px;
}
.mist .mist-line:nth-child(5) {
  top: -24px;
}
.mist .mist-line > div {
  width: 26px;
  height: 16px;
  border-radius: 50%;
  float: left;
  border: 6px solid #e3e3e3;
  margin-left: -7px;
}
.mist .mist-line > div:nth-child(even) {
  -webkit-clip-path: inset(0 0 50% 0);
  clip-path: inset(0 0 50% 0);
  margin-top: 4px;
}
.mist .mist-line > div:nth-child(odd) {
  -webkit-clip-path: inset(50% 0 0 0);
  clip-path: inset(50% 0 0 0);
}
.mist .mist-line:nth-child(odd) div {
  border: 6px solid #95a5a6;
}

@-webkit-keyframes fallDown {
  0% {
    transform: translatey(0);
  }
  100% {
    transform: translatey(100%);
  }
}
@keyframes fallDown {
  0% {
    transform: translatey(0);
  }
  100% {
    transform: translatey(100%);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes scaleDown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@-webkit-keyframes translateUp {
  0% {
    transform: translatey(15%);
  }
  100% {
    transform: translatey(0);
  }
}
@keyframes translateUp {
  0% {
    transform: translatey(15%);
  }
  100% {
    transform: translatey(0);
  }
}
@-webkit-keyframes scaleUp {
  0% {
    transform: scaley(0);
  }
  100% {
    transform: scaley(1);
  }
}
@keyframes scaleUp {
  0% {
    transform: scaley(0);
  }
  100% {
    transform: scaley(1);
  }
}
@-webkit-keyframes thunder {
  0% {
    box-shadow: 0 0 25px #fff;
  }
  2% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  49% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  50% {
    box-shadow: 0 0 25px #fff;
  }
  52% {
    box-shadow: 0 0 25px #f7db6e;
  }
  53% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  69% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  70% {
    box-shadow: 0 0 25px #fff;
  }
  71% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  75% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  76% {
    box-shadow: 0 0 25px #fff;
  }
  77% {
    box-shadow: 0 0 25px #a8d3f0;
  }
  78% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  100% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
}
@keyframes thunder {
  0% {
    box-shadow: 0 0 25px #fff;
  }
  2% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  49% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  50% {
    box-shadow: 0 0 25px #fff;
  }
  52% {
    box-shadow: 0 0 25px #f7db6e;
  }
  53% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  69% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  70% {
    box-shadow: 0 0 25px #fff;
  }
  71% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  75% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  76% {
    box-shadow: 0 0 25px #fff;
  }
  77% {
    box-shadow: 0 0 25px #a8d3f0;
  }
  78% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
  100% {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }
}

.highlight-card .sunny {
  position: relative;
  width: 3rem;
  height: 3rem;
}
.card-title {
  color: #aeaeae;
}

.wind-speed .number,
.air-quality .number,
.visibility .number {
  font-size: 35px;
}

.location {
  font-weight: 500;
}

.location .city-name {
  margin: 20px 0 0 0;
  font-size: 1.3rem;
}
.location .flag {
  width: 25px;
  height: 15px;
}
.location .country-name {
  display: inline-block;
  margin-left: 5px;
  font-size: 1rem;
  margin-top: 5px;
}

.location .date-time {
  color: #adb1cc;
  margin-top: 0px;
}

.location h2 {
  text-align: center;
}

.location i {
  float: right;
  margin-top: 0px;
}

.temperature-and-image {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  margin: 3rem 0;
}

.current .temperature {
  font-size: 4rem;
  font-weight: 600;
  margin: 0px 15px;
  position: relative;
}

.current .temperature span {
  font-size: 2rem;
  font-weight: 400;
  position: absolute;
  margin-top: 10px;
  color: #adb1cc;
}

.current .description {
  text-transform: capitalize;
  font-size: 16px;
  line-height: 1.2em;
  margin-top: 0;
}

.today-weather-description {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.description-icon {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.description-icon img {
  height: 35px;
  width: 35px;
  padding: 10px;
  background-color: #f1f3ff;
  border-radius: 20%;
}

.hourly {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  font-size: 0.8rem;
  padding-bottom: 10px;
  position: relative;
  transition: 0.3s ease-in-out;
  right: 0;
}

.hourly .pop-icon {
  height: 20px;
  padding: 5px;
}

.one-hour {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  background-color: #ffffff;
  border: 1px solid #f1f3ff;
  border-radius: 15px;
  gap: 10px;
  padding: 0px 15px;
}

.one-hour .col-4 {
  display: flex;
}
.one-hour .col-2 > div {
  width: 40px;
  height: 40px;
}
/* .one-hour .col-2 > div > div {
  width: 40px;
  height: 40px;
} */

.weather-highlights {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.highlight-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 12px;
  width: 200px;
  line-height: 1rem;
}
#uvi-graph {
  margin-bottom: 20px;
  width: 100%;
}

#humidity-bar {
  margin: 90px 0 20px 0;
  line-height: 0.8em;
}
.sunset-div,
.sunrise-div,
.wind-direction-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  gap: 10px;
  margin-bottom: 10px;
}

.wind-direction-flex .wind-arr {
  height: 40px;
}

.highlight-card .sunny {
  position: relative;
  width: 3rem;
  height: 3rem;
}

.sunrise-div i {
  color: #fff;
  position: absolute;
  margin-left: 1rem;
  z-index: 3;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.sunset-div i {
  color: #fff;
  position: absolute;
  margin-left: 1rem;
  z-index: 3;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.seven-day {
  display: none;
  margin: 50px 0;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.one-day {
  background-color: #ffffff;
  border-radius: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  height: 3rem;
}
.one-day .pop-icon {
  height: 20px;
  padding: 5px;
}

.one-day .row {
  width: 100px;
  padding: 3px;
}

.one-day .row-2 {
  display: flex;
  align-items: center;
}

.one-day .row-2 > div {
  width: 30px;
  height: 30px;
}
.one-day .row-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.previous-btn {
  display: none;
}

.direction-buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.button-container {
  position: absolute;
  top: 5%;
  right: 0;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.button-container .button {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  opacity: 0.75;
  transition: all 300ms ease-in-out;
}
.button-container .button.geolocation-button i {
  margin-left: 2px;
}

.button-container .button:hover {
  opacity: 1;
}

.button-container .button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  z-index: -99;
}

.tag {
  font-size: 0.8rem;
  padding: 4px 8px;
  border-radius: 20px;
  cursor: pointer;
}
.tag.alert {
  background-color: var(--tag-color-three);
  color: var(--tag-color-text-three);
}

.alert-label {
  display: flex;
  justify-content: center;
}
